<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="<%= css %>/reset.css" />
    <link rel="stylesheet" href="<%= css %>/style.css" />

    <!-- JAVASCRIPT -->
    <script src="<%= js %>/index.js" defer type="module"></script>
  </head>

  <body>
    <header class="header">
      <div class="header__logo">
        <a href="/">
          <h1>My Virtual</h1>
          <span class="deco">Chillspace</span>
        </a>
      </div>
      <%- include('./navbar.ejs') %>
    </header>
    
